*.swp
*.pyc
*.py~
*.png
*.pkl
*.csv


.pytest_cache
.DS_Store
.idea

*.sublime-project
*.sublime-workspace

logs/
results/
*/results/
*/policies/
*/plots/
*/wandb/
*/__pycache__/
*/.idea
*/*.egg-info

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache
.vscode
